.mouseover {
	border: solid 1px #3169B5;
	background-image: url(../images/mouseover.png);
	background-repeat: repeat-x;
	background-position: center;
	cursor: pointer;
}
.mouseout {
	border: solid 1px #3169B5;
	background-image: url(../images/mouseout.png);
	background-repeat: repeat-x;
	background-position: center;
}

.mousedown {
	border: solid 1px #3169B5;
	background-image: url(../images/mouseup.png);
	background-repeat: repeat-x;
	background-position: center;
}
