/**
 * The specific dialog used to index code
 * author: Biao Zhang
 * date: 2006-9-X
 */

div.wiki {
	width: 600px;
	height: 480px;
}

div.search {
	width: 128px;	
	margin: 4px 2px 2px 2px;
	float: left;
}

.searchinput {
	margin: 0px;
	padding: 0px;
}

input.searchtext {
	border: solid 1px #3169B5;
	width: 100px;
	height: 19px;
	margin: 2px 0px 2px 2px;
	float: left;
}

input.searchbtn {
	border: solid 1px #3169B5;
	width: 23px;
	height: 19px;
	margin: 2px 0px 2px 0px;
	float: left;
}

div.index {
	border: solid 1px #3169B5;
	width: 128px;
	height: 419px;
	margin: 4px 2px 2px 2px;
	overflow: auto;
}

div.result {
	width: 448px;
	height: 444px;
	margin: 6px 4px 2px 2px;
	padding: 2px;
	float: right;
	overflow: auto;
}

.itemOnMouseOver {
	height: 24px;
	background-color: black;
	color: white;
}

.itemOnMouseOut {
	height: 24px;
	background-color: white;
	color: black;
}