p {
	margin: 0px;
	padding: 0px;	
}
.ide {
	border: solid 1px blue;
	width: 1px;
	height: 1px;
	margin: 4px;
	padding: 2px;	
}

.title {
	border: solid 1px blue;
	background-color: #0000FF;
	color: #FFFFFF;
	width: 400px;
	height: 24px;
	margin: 4px 2px 2px 2px;
	padding: 2px;
}

.editor {
	border: solid 1px #3169B5;
	width: 400px;
	height: 300px;
	margin: 6px 2px 2px 2px;
	padding: 2px;
}

.console {
	border: solid 1px #0066A9;
	width: 400px;
	height: 150px;
	margin: 6px 2px 2px 2px;
	padding: 2px;
}